<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redbull.com (Real one)</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/redbull.css" type="text/css">
</head>
<body>
  <div class="header">
    <div class="left-section">
      <div class="left-icons">
        <button class="left-button"><img src="/static/img/youtube-apps.svg" alt="Apps"></button>
      </div>
      <img class="logo" src="/static/img/redbullcom-logo_double-with-text.svg" alt="Redbull Logo">
    </div>
    <div class="middle-section">
      <a href="/contact" class="contact-link">
        <button class="contact-button">Contact Us</button>
      </a>
    </div>
    <div class="right-section">
      <a href="https://www.youtube.com/" target="_blank" class="youtube-link">
        <button class="youtube-button">
          <img src="/static/img/youtube-logo.svg" class="youtube-logo" alt="YouTube">
        </button>
      </a>
    </div>
  </div>

  <div class="video-grid">
    <a href="/linefollower" class="video-link">
      <div class="video-preview">
        <div class="thumbnail-row">
          <img class="thumbnail" src="/static/img/download.jpg" alt="Video Thumbnail">
        </div>
        <div class="video-info-grid">
          <div class="video-info">
            <p class="video-title">FOLLOW BOT IN REAL TIME</p>
            <p class="video-author">Max Verstappen</p>
            <p class="video-stats">stats here</p>
          </div>
        </div>
      </div>
    </a>

    <a href="/linemaze" class="video-link">
      <div class="video-preview">
        <div class="thumbnail-row">
          <img class="thumbnail" src="/static/img/download.jpg" alt="Video Thumbnail">
        </div>
        <div class="video-info-grid">
          <div class="video-info">
            <p class="video-title">FOLLOW BOT IN REAL TIME</p>
            <p class="video-author">Lightning McQueen</p>
            <p class="video-stats">stats here</p>
          </div>
        </div>
      </div>
    </a>

    <a href="/physicalmaze" class="video-link">
      <div class="video-preview">
        <div class="thumbnail-row">
          <img class="thumbnail" src="/static/img/download.jpg" alt="Video Thumbnail">
        </div>
        <div class="video-info-grid">
          <div class="video-info">
            <p class="video-title">FOLLOW BOT IN REAL TIME</p>
            <p class="video-author">Jerry</p>
            <p class="video-stats">stats here</p>
          </div>
        </div>
      </div>
    </a>    
  </div>
</body>
</html>
